<h1>Reading in neccesary dependencies and dataset. </h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data =  pd.read_csv("data/cleanedData.csv")

<h2>Finding statistical figures per county</h2>

In [23]:
for county in data["Maakond"].unique():
    countyData = data.loc[data['Maakond'] == county]
    print(county)
    display(countyData.describe())
    display(countyData.groupby("Mark").count()["Üldine staatus"].sort_values(ascending=False).head())
    display(countyData.groupby("Mudel").count()["Üldine staatus"].sort_values(ascending=False).head())

HARJU MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,280727.000000,222361.000000,280727.000000,280727.000000,280727.000000,280727.000000
mean,2009.432406,160.814851,2001.584475,109.884927,1568.788310,2.000028
std,6.569420,44.992775,700.223711,45.398150,333.529927,0.005338
min,1996.000000,0.000000,0.000000,7.000000,1.000000,2.000000
25%,2005.000000,129.000000,1587.000000,81.000000,1349.000000,2.000000
50%,2009.000000,155.000000,1968.000000,103.000000,1523.000000,2.000000
75%,2015.000000,184.000000,2231.000000,127.000000,1720.000000,2.000000
max,2020.000000,495.000000,12130.000000,588.000000,16360.000000,3.000000

Mark
TOYOTA           31556
VOLKSWAGEN       27542
BMW              18778
ŠKODA            16675
MERCEDES-BENZ    16400
Name: Üldine staatus, dtype: int64

Mudel
OCTAVIA    7438
AVENSIS    7337
COROLLA    6376
PASSAT     5391
RAV4       5175
Name: Üldine staatus, dtype: int64

PÄRNU MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,40973.000000,28628.000000,40973.000000,40973.000000,40973.000000,40973.000000
mean,2007.106875,166.821259,2007.339370,104.197118,1550.287995,2.000073
std,6.385159,42.562903,636.166425,40.301710,323.924622,0.008557
min,1996.000000,0.000000,0.000000,17.000000,81.000000,2.000000
25%,2002.000000,138.000000,1596.000000,77.000000,1330.000000,2.000000
50%,2007.000000,159.000000,1968.000000,99.000000,1519.000000,2.000000
75%,2012.000000,190.000000,2290.000000,120.000000,1709.000000,2.000000
max,2020.000000,495.000000,9600.000000,471.000000,12700.000000,3.000000

Mark
VOLKSWAGEN    5093
FORD          3505
AUDI          3145
TOYOTA        2981
VOLVO         2955
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    973
PASSAT            965
AVENSIS           931
FOCUS             878
A6 AVANT          831
Name: Üldine staatus, dtype: int64

MÄÄRAMATA

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,14867.000000,8799.000000,14867.000000,14867.000000,14867.000000,14867.0
mean,2005.239860,179.189453,2186.324612,111.523428,1589.406942,2.0
std,6.283862,48.599980,723.678600,45.131543,331.532981,0.0
min,1996.000000,0.000000,0.000000,33.000000,138.000000,2.0
25%,2000.000000,145.000000,1753.000000,81.000000,1362.500000,2.0
50%,2005.000000,172.000000,1995.000000,103.000000,1555.000000,2.0
75%,2009.000000,209.000000,2496.000000,130.000000,1761.000000,2.0
max,2020.000000,465.000000,6567.000000,478.000000,5815.000000,2.0

Mark
VOLKSWAGEN       1670
BMW              1460
AUDI             1321
MERCEDES-BENZ    1057
VOLVO             943
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    335
A6 AVANT          325
PASSAT            321
AVENSIS           259
V70               223
Name: Üldine staatus, dtype: int64

TARTU MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,70275.000000,50704.000000,70275.000000,70275.000000,70275.000000,70275.000000
mean,2007.683871,164.794967,2015.096748,106.280394,1570.171597,2.000028
std,6.497885,42.408778,633.131124,40.191290,328.861232,0.005335
min,1996.000000,0.000000,0.000000,24.000000,1.000000,2.000000
25%,2003.000000,136.000000,1596.000000,80.000000,1350.000000,2.000000
50%,2007.000000,159.000000,1968.000000,103.000000,1540.000000,2.000000
75%,2013.000000,188.000000,2290.000000,121.000000,1728.000000,2.000000
max,2020.000000,500.000000,11705.000000,483.000000,14982.000000,3.000000

Mark
VOLKSWAGEN    10700
AUDI           5611
FORD           5513
TOYOTA         4913
VOLVO          4605
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    2284
PASSAT            2054
OCTAVIA           1727
FOCUS             1553
AVENSIS           1500
Name: Üldine staatus, dtype: int64

JÕGEVA MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,14454.000000,9332.000000,14454.000000,14454.000000,14454.000000,14454.0
mean,2006.063443,166.979104,2004.210530,100.257721,1541.765117,2.0
std,6.272380,41.295167,591.289493,36.780581,314.034180,0.0
min,1996.000000,0.000000,0.000000,30.000000,775.000000,2.0
25%,2001.000000,139.000000,1598.000000,75.000000,1329.000000,2.0
50%,2006.000000,159.000000,1956.000000,96.000000,1515.000000,2.0
75%,2011.000000,190.000000,2231.000000,118.000000,1700.000000,2.0
max,2020.000000,400.000000,7270.000000,545.000000,3615.000000,2.0

Mark
VOLKSWAGEN    2302
AUDI          1268
FORD          1151
BMW            980
TOYOTA         949
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    546
PASSAT            451
A6 AVANT          335
OCTAVIA           323
A4 AVANT          321
Name: Üldine staatus, dtype: int64

IDA-VIRU MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,50557.000000,34381.000000,50557.000000,50557.000000,50557.000000,50557.0
mean,2006.490575,170.891277,2046.368792,102.808754,1573.435805,2.0
std,6.309705,41.979435,593.472531,35.178038,308.465099,0.0
min,1996.000000,0.000000,0.000000,24.600000,775.000000,2.0
25%,2002.000000,140.000000,1598.000000,80.000000,1360.000000,2.0
50%,2006.000000,165.000000,1975.000000,100.000000,1545.000000,2.0
75%,2011.000000,194.000000,2393.000000,120.000000,1724.000000,2.0
max,2020.000000,465.000000,7300.000000,515.000000,4256.000000,2.0

Mark
VOLKSWAGEN    6710
TOYOTA        5020
BMW           3423
AUDI          3351
HONDA         2909
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS           1389
CR-V              1204
PASSAT            1102
PASSAT VARIANT    1044
GOLF               839
Name: Üldine staatus, dtype: int64

VILJANDI MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,24223.000000,16288.000000,24223.000000,24223.000000,24223.000000,24223.0
mean,2006.811914,164.296108,1974.650663,100.874495,1535.333815,2.0
std,6.641563,42.334700,600.023897,37.263804,322.261866,0.0
min,1996.000000,0.000000,0.000000,18.000000,600.000000,2.0
25%,2002.000000,136.000000,1596.000000,75.000000,1323.000000,2.0
50%,2006.000000,159.000000,1896.000000,96.000000,1505.000000,2.0
75%,2012.000000,189.000000,2184.000000,117.000000,1689.000000,2.0
max,2020.000000,420.000000,6751.000000,445.000000,11962.000000,2.0

Mark
VOLKSWAGEN    3830
AUDI          1970
FORD          1845
TOYOTA        1761
ŠKODA         1551
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    728
PASSAT            651
OCTAVIA           606
GOLF              576
A6 AVANT          537
Name: Üldine staatus, dtype: int64

PÕLVA MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,14305.000000,8703.000000,14305.000000,14305.000000,14305.000000,14305.0
mean,2005.490668,167.173618,1996.209577,99.211541,1537.967983,2.0
std,6.352598,43.209334,584.842319,35.750570,304.532090,0.0
min,1996.000000,0.000000,0.000000,33.000000,780.000000,2.0
25%,2000.000000,139.000000,1598.000000,75.000000,1330.000000,2.0
50%,2005.000000,159.000000,1896.000000,93.000000,1505.000000,2.0
75%,2010.000000,190.000000,2184.000000,112.000000,1688.000000,2.0
max,2020.000000,400.000000,7267.000000,430.000000,5722.000000,2.0

Mark
VOLKSWAGEN    2720
AUDI          1404
FORD          1120
OPEL           915
BMW            853
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    785
PASSAT            517
A6 AVANT          375
OCTAVIA           356
A4 AVANT          349
Name: Üldine staatus, dtype: int64

JÄRVA MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,15461.000000,10146.000000,15461.000000,15461.000000,15461.000000,15461.0
mean,2006.410129,166.855608,2003.243193,101.733491,1539.461419,2.0
std,6.290429,41.816008,590.416359,37.109283,321.088159,0.0
min,1996.000000,0.000000,0.000000,28.000000,615.000000,2.0
25%,2002.000000,139.000000,1598.000000,77.000000,1330.000000,2.0
50%,2006.000000,160.000000,1968.000000,96.000000,1508.000000,2.0
75%,2011.000000,191.000000,2290.000000,120.000000,1690.000000,2.0
max,2020.000000,420.000000,11796.000000,470.000000,14075.000000,2.0

Mark
VOLKSWAGEN    2077
FORD          1406
TOYOTA        1360
VOLVO         1158
AUDI          1147
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    430
PASSAT            408
AVENSIS           393
FOCUS             373
OCTAVIA           373
Name: Üldine staatus, dtype: int64

LÄÄNE MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,11154.000000,7874.000000,11154.000000,11154.000000,11154.000000,11154.0
mean,2007.628922,162.416434,1950.475793,101.123014,1524.597723,2.0
std,6.789921,42.126637,618.398281,37.471654,315.456762,0.0
min,1996.000000,0.000000,0.000000,18.000000,600.000000,2.0
25%,2002.000000,134.000000,1587.000000,77.000000,1310.000000,2.0
50%,2007.000000,156.000000,1896.000000,96.000000,1486.000000,2.0
75%,2013.000000,186.000000,2184.000000,120.000000,1682.000000,2.0
max,2020.000000,383.000000,6500.000000,527.000000,3230.000000,2.0

Mark
VOLKSWAGEN    1231
TOYOTA         971
VOLVO          774
KIA            711
ŠKODA          701
Name: Üldine staatus, dtype: int64

Mudel
OCTAVIA           278
COROLLA           249
PASSAT            238
AVENSIS           237
PASSAT VARIANT    224
Name: Üldine staatus, dtype: int64

LÄÄNE-VIRU MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,29192.000000,19867.000000,29192.000000,29192.000000,29192.000000,29192.0
mean,2006.748733,166.625661,1991.781276,101.279227,1542.583859,2.0
std,6.375359,41.243549,592.381818,37.154789,328.359161,0.0
min,1996.000000,0.000000,0.000000,24.000000,600.000000,2.0
25%,2002.000000,139.000000,1596.000000,77.000000,1325.000000,2.0
50%,2006.000000,159.000000,1968.000000,96.000000,1508.000000,2.0
75%,2012.000000,190.000000,2231.000000,118.000000,1696.000000,2.0
max,2020.000000,451.000000,12000.000000,625.000000,14370.000000,2.0

Mark
VOLKSWAGEN    3616
TOYOTA        3247
VOLVO         2153
AUDI          2151
FORD          1861
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS           1018
PASSAT             662
PASSAT VARIANT     635
COROLLA            629
GOLF               569
Name: Üldine staatus, dtype: int64

SAARE MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,18046.000000,12191.000000,18046.000000,18046.000000,18046.000000,18046.0
mean,2006.799124,166.520876,1969.565278,100.828588,1523.387676,2.0
std,6.396491,43.533648,627.601963,38.097773,332.114151,0.0
min,1996.000000,0.000000,0.000000,28.000000,795.000000,2.0
25%,2002.000000,138.000000,1591.000000,74.000000,1295.000000,2.0
50%,2006.000000,159.000000,1896.000000,96.000000,1485.000000,2.0
75%,2012.000000,190.000000,2198.000000,118.000000,1680.000000,2.0
max,2020.000000,465.000000,7284.000000,527.000000,10835.000000,2.0

Mark
VOLKSWAGEN    1945
TOYOTA        1797
AUDI          1144
ŠKODA         1059
FORD          1048
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS           473
PASSAT VARIANT    394
OCTAVIA           379
COROLLA           359
PASSAT            330
Name: Üldine staatus, dtype: int64

RAPLA MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,18255.000000,12623.000000,18255.000000,18255.000000,18255.000000,18255.0
mean,2007.038236,165.454805,2005.734538,102.858428,1551.253191,2.0
std,6.528575,42.770976,621.821487,37.604244,316.306313,0.0
min,1996.000000,0.000000,0.000000,29.000000,640.000000,2.0
25%,2002.000000,136.000000,1596.000000,77.000000,1332.000000,2.0
50%,2006.000000,159.000000,1968.000000,99.000000,1525.000000,2.0
75%,2012.000000,189.000000,2231.000000,120.000000,1713.000000,2.0
max,2020.000000,495.000000,7270.000000,430.000000,3410.000000,2.0

Mark
VOLKSWAGEN    2350
TOYOTA        1571
AUDI          1449
FORD          1210
VOLVO         1151
Name: Üldine staatus, dtype: int64

Mudel
PASSAT            442
PASSAT VARIANT    421
OCTAVIA           419
AVENSIS           385
A6 AVANT          373
Name: Üldine staatus, dtype: int64

VÕRU MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,19212.000000,11957.000000,19212.000000,19212.000000,19212.000000,19212.000000
mean,2005.692848,165.441917,2005.998334,99.876744,1538.682126,2.000104
std,6.310789,40.195325,570.501690,36.406427,319.845276,0.010203
min,1996.000000,0.000000,0.000000,28.000000,705.000000,2.000000
25%,2000.000000,139.000000,1598.000000,75.000000,1335.000000,2.000000
50%,2005.000000,159.000000,1910.000000,93.000000,1515.000000,2.000000
75%,2010.000000,187.000000,2198.000000,114.000000,1690.000000,2.000000
max,2020.000000,392.000000,11705.000000,515.000000,17400.000000,3.000000

Mark
VOLKSWAGEN    3814
AUDI          1970
FORD          1342
TOYOTA        1332
BMW           1253
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    1025
PASSAT             685
A6 AVANT           566
AVENSIS            510
A4 AVANT           502
Name: Üldine staatus, dtype: int64

HIIU MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,5635.000000,3779.000000,5635.000000,5635.000000,5635.000000,5635.0
mean,2006.575510,168.967716,1998.747294,101.183230,1540.292990,2.0
std,6.247365,43.066030,637.439016,38.997009,331.276744,0.0
min,1996.000000,0.000000,0.000000,17.000000,600.000000,2.0
25%,2002.000000,139.000000,1595.000000,75.000000,1315.000000,2.0
50%,2006.000000,162.000000,1951.000000,96.000000,1505.000000,2.0
75%,2011.000000,193.000000,2290.000000,118.000000,1700.500000,2.0
max,2020.000000,383.000000,7997.000000,450.000000,4890.000000,2.0

Mark
VOLKSWAGEN    719
TOYOTA        481
BMW           365
AUDI          350
FORD          330
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS           135
PASSAT VARIANT    135
OCTAVIA           123
GOLF              112
COROLLA           102
Name: Üldine staatus, dtype: int64

VALGA MAAKOND

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,14186.000000,8975.000000,14186.000000,14186.000000,14186.000000,14186.0
mean,2005.740166,168.152869,2015.182786,100.266996,1549.174186,2.0
std,6.304282,42.811236,585.674466,36.400753,311.242705,0.0
min,1996.000000,0.000000,0.000000,17.000000,600.000000,2.0
25%,2001.000000,139.000000,1598.000000,75.000000,1339.000000,2.0
50%,2005.000000,160.000000,1968.000000,96.000000,1523.000000,2.0
75%,2010.000000,191.000000,2231.000000,115.000000,1709.000000,2.0
max,2020.000000,495.000000,6761.000000,412.000000,3760.000000,2.0

Mark
VOLKSWAGEN    2668
AUDI          1458
FORD          1237
VOLVO          835
BMW            795
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    597
PASSAT            449
A4 AVANT          355
GOLF              353
A6 AVANT          350
Name: Üldine staatus, dtype: int64

In [25]:
for city in data["Linn"].unique():
    countyData = data.loc[data['Linn'] == city]
    print(city)
    display(countyData.describe())
    display(countyData.groupby("Mark").count()["Üldine staatus"].sort_values(ascending=False).head())
    display(countyData.groupby("Mudel").count()["Üldine staatus"].sort_values(ascending=False).head())

Tallinn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,186177.000000,147826.000000,186177.00000,186177.000000,186177.000000,186177.000000
mean,2009.451484,162.000967,2017.07336,111.253687,1572.773930,2.000027
std,6.565849,45.143625,704.33053,46.364079,336.093818,0.005182
min,1996.000000,0.000000,0.00000,10.000000,1.000000,2.000000
25%,2005.000000,131.000000,1591.00000,81.000000,1350.000000,2.000000
50%,2009.000000,156.000000,1968.00000,103.000000,1525.000000,2.000000
75%,2015.000000,186.000000,2287.00000,129.000000,1725.000000,2.000000
max,2020.000000,495.000000,12130.00000,588.000000,16360.000000,3.000000

Mark
TOYOTA           22496
VOLKSWAGEN       18195
BMW              12769
MERCEDES-BENZ    11578
ŠKODA            11377
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS    5151
OCTAVIA    5001
COROLLA    4570
RAV4       3762
PASSAT     3553
Name: Üldine staatus, dtype: int64

Pärnu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,22295.000000,16326.000000,22295.000000,22295.000000,22295.000000,22295.000000
mean,2007.785198,166.172241,2013.264633,106.665436,1561.525140,2.000045
std,6.379439,42.888580,660.684644,41.885748,331.421851,0.006697
min,1996.000000,0.000000,0.000000,17.000000,600.000000,2.000000
25%,2003.000000,137.000000,1595.000000,80.000000,1342.000000,2.000000
50%,2007.000000,159.000000,1968.000000,100.000000,1525.000000,2.000000
75%,2013.000000,190.000000,2295.000000,123.000000,1720.000000,2.000000
max,2020.000000,413.000000,9600.000000,470.000000,12700.000000,3.000000

Mark
VOLKSWAGEN    2715
FORD          1881
TOYOTA        1743
AUDI          1658
VOLVO         1583
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS           534
PASSAT            521
FOCUS             476
PASSAT VARIANT    466
OCTAVIA           463
Name: Üldine staatus, dtype: int64

nan

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN

Series([], Name: Üldine staatus, dtype: int64)

Series([], Name: Üldine staatus, dtype: int64)

Tartu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,39470.000000,29330.000000,39470.000000,39470.000000,39470.000000,39470.0
mean,2008.189866,163.784691,2000.957816,107.120162,1566.245604,2.0
std,6.510422,42.522220,644.252919,41.041169,326.716082,0.0
min,1996.000000,0.000000,0.000000,28.000000,640.000000,2.0
25%,2003.000000,135.000000,1595.000000,80.000000,1345.000000,2.0
50%,2008.000000,158.000000,1968.000000,103.000000,1531.000000,2.0
75%,2014.000000,187.000000,2231.000000,125.000000,1725.000000,2.0
max,2020.000000,500.000000,8277.000000,478.000000,7690.000000,2.0

Mark
VOLKSWAGEN    5745
TOYOTA        3094
FORD          3032
AUDI          2975
ŠKODA         2534
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    1159
PASSAT            1072
OCTAVIA           1002
FOCUS              912
AVENSIS            873
Name: Üldine staatus, dtype: int64

Kohtla-Järve linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,11683.000000,8152.000000,11683.000000,11683.000000,11683.000000,11683.0
mean,2006.618163,168.776129,2024.965505,101.644466,1571.407943,2.0
std,6.146625,39.459908,552.701855,33.776405,293.063397,0.0
min,1996.000000,0.000000,0.000000,28.000000,805.000000,2.0
25%,2002.000000,140.000000,1598.000000,80.000000,1368.500000,2.0
50%,2006.000000,163.000000,1968.000000,99.000000,1550.000000,2.0
75%,2011.000000,191.000000,2231.000000,118.000000,1717.000000,2.0
max,2020.000000,383.000000,7300.000000,467.000000,3180.000000,2.0

Mark
VOLKSWAGEN    1709
TOYOTA        1036
AUDI           902
FORD           828
BMW            734
Name: Üldine staatus, dtype: int64

Mudel
PASSAT            307
AVENSIS           274
PASSAT VARIANT    269
CR-V              252
GOLF              232
Name: Üldine staatus, dtype: int64

Haapsalu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,6429.000000,4680.000000,6429.000000,6429.000000,6429.000000,6429.0
mean,2007.966247,162.550000,1953.149946,102.420999,1527.464613,2.0
std,6.729941,41.549961,614.186848,37.069860,311.336011,0.0
min,1996.000000,0.000000,0.000000,19.000000,620.000000,2.0
25%,2003.000000,135.000000,1590.000000,77.000000,1320.000000,2.0
50%,2007.000000,157.000000,1896.000000,97.000000,1490.000000,2.0
75%,2014.000000,185.000000,2151.000000,120.000000,1681.000000,2.0
max,2020.000000,383.000000,6500.000000,350.000000,3230.000000,2.0

Mark
VOLKSWAGEN    680
TOYOTA        619
KIA           439
VOLVO         436
ŠKODA         424
Name: Üldine staatus, dtype: int64

Mudel
OCTAVIA    177
COROLLA    174
PASSAT     140
AVENSIS    139
CEED       135
Name: Üldine staatus, dtype: int64

Loksa linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,848.000000,568.000000,848.000000,848.000000,848.000000,848.0
mean,2006.410377,173.202465,2022.987028,103.177005,1547.146226,2.0
std,5.897110,43.034454,599.901837,35.692203,314.843151,0.0
min,1996.000000,0.000000,0.000000,35.000000,795.000000,2.0
25%,2002.000000,142.750000,1598.000000,77.000000,1330.000000,2.0
50%,2006.000000,167.500000,1984.000000,100.000000,1517.500000,2.0
75%,2010.000000,195.000000,2394.250000,120.000000,1695.750000,2.0
max,2020.000000,361.000000,5967.000000,350.000000,2770.000000,2.0

Mark
TOYOTA        92
VOLKSWAGEN    81
VOLVO         67
OPEL          54
NISSAN        51
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS    27
QASHQAI    18
COROLLA    17
RAV4       15
OCTAVIA    15
Name: Üldine staatus, dtype: int64

Narva linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,18766.000000,12187.000000,18766.000000,18766.000000,18766.000000,18766.0
mean,2005.816104,176.444162,2089.856443,104.313615,1581.429500,2.0
std,6.205515,42.878594,618.522709,35.365840,313.754185,0.0
min,1996.000000,0.000000,0.000000,29.000000,775.000000,2.0
25%,2001.000000,147.000000,1598.000000,80.000000,1362.000000,2.0
50%,2005.000000,170.000000,1991.000000,100.000000,1550.000000,2.0
75%,2009.000000,200.000000,2429.000000,120.000000,1733.000000,2.0
max,2020.000000,392.000000,6798.000000,467.000000,3268.000000,2.0

Mark
VOLKSWAGEN    2180
TOYOTA        1889
BMW           1493
HONDA         1182
AUDI          1128
Name: Üldine staatus, dtype: int64

Mudel
CR-V              505
AVENSIS           496
A6                344
PASSAT            339
PASSAT VARIANT    320
Name: Üldine staatus, dtype: int64

Rakvere linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,7095.000000,5153.000000,7095.000000,7095.000000,7095.000000,7095.0
mean,2007.705990,164.571706,1990.391402,104.193883,1549.031994,2.0
std,6.358395,40.990383,608.620279,39.503716,318.894221,0.0
min,1996.000000,0.000000,0.000000,33.000000,675.000000,2.0
25%,2003.000000,138.000000,1595.000000,78.000000,1329.000000,2.0
50%,2007.000000,159.000000,1968.000000,99.000000,1516.000000,2.0
75%,2013.000000,189.000000,2261.000000,120.000000,1700.000000,2.0
max,2020.000000,392.000000,6208.000000,430.000000,3170.000000,2.0

Mark
TOYOTA        906
VOLKSWAGEN    798
VOLVO         546
AUDI          527
BMW           369
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS     278
COROLLA     192
PASSAT      156
V70         144
A6 AVANT    139
Name: Üldine staatus, dtype: int64

Narva-Jõesuu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,2244.000000,1462.000000,2244.000000,2244.000000,2244.000000,2244.0
mean,2006.087790,175.307114,2108.638592,105.302585,1588.705437,2.0
std,6.429761,47.266998,684.386764,39.700560,336.100354,0.0
min,1996.000000,0.000000,0.000000,28.000000,775.000000,2.0
25%,2001.000000,140.250000,1598.000000,77.000000,1352.750000,2.0
50%,2005.000000,168.000000,1991.000000,100.000000,1547.000000,2.0
75%,2011.000000,204.000000,2461.000000,125.000000,1760.000000,2.0
max,2020.000000,383.000000,6162.000000,404.000000,2909.000000,2.0

Mark
VOLKSWAGEN    278
TOYOTA        240
BMW           188
HONDA         143
AUDI          130
Name: Üldine staatus, dtype: int64

Mudel
CR-V              60
AVENSIS           52
PASSAT            41
PASSAT VARIANT    39
COROLLA           34
Name: Üldine staatus, dtype: int64

Võru linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,5603.000000,3734.000000,5603.000000,5603.000000,5603.000000,5603.000000
mean,2006.490987,164.808516,2017.588435,103.106711,1552.078529,2.000357
std,6.429919,41.201406,617.653030,38.954292,372.908775,0.018891
min,1996.000000,0.000000,0.000000,31.000000,705.000000,2.000000
25%,2001.000000,138.000000,1598.000000,77.000000,1345.000000,2.000000
50%,2006.000000,159.000000,1968.000000,96.000000,1520.000000,2.000000
75%,2011.000000,187.000000,2204.000000,120.000000,1703.000000,2.000000
max,2020.000000,392.000000,11705.000000,515.000000,17400.000000,3.000000

Mark
VOLKSWAGEN    1022
AUDI           546
TOYOTA         422
BMW            375
FORD           373
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    248
PASSAT            195
AVENSIS           162
A4 AVANT          152
GOLF              140
Name: Üldine staatus, dtype: int64

Paide linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,5074.000000,3524.000000,5074.000000,5074.000000,5074.000000,5074.0
mean,2007.089279,165.022985,1994.137958,103.204651,1539.745369,2.0
std,6.263177,41.371407,594.424607,38.409360,345.680030,0.0
min,1996.000000,0.000000,0.000000,30.000000,805.000000,2.0
25%,2002.000000,138.000000,1597.000000,77.000000,1332.000000,2.0
50%,2007.000000,159.000000,1968.000000,97.000000,1506.000000,2.0
75%,2012.000000,189.000000,2231.000000,120.000000,1685.000000,2.0
max,2020.000000,420.000000,9600.000000,430.000000,14075.000000,2.0

Mark
VOLKSWAGEN    640
TOYOTA        562
FORD          469
VOLVO         409
AUDI          385
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS           156
PASSAT            139
FOCUS             132
PASSAT VARIANT    132
COROLLA           126
Name: Üldine staatus, dtype: int64

Viljandi linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,7953.000000,5685.000000,7953.000000,7953.000000,7953.000000,7953.0
mean,2007.562681,163.378716,1983.572866,103.977518,1543.728027,2.0
std,6.547680,42.739110,629.604475,39.617813,317.573232,0.0
min,1996.000000,0.000000,0.000000,27.000000,630.000000,2.0
25%,2003.000000,135.000000,1595.000000,77.000000,1329.000000,2.0
50%,2007.000000,158.000000,1956.000000,100.000000,1514.000000,2.0
75%,2013.000000,188.000000,2198.000000,120.000000,1695.000000,2.0
max,2020.000000,420.000000,6751.000000,445.000000,4998.000000,2.0

Mark
VOLKSWAGEN    1184
AUDI           626
TOYOTA         605
FORD           580
ŠKODA          530
Name: Üldine staatus, dtype: int64

Mudel
OCTAVIA           210
PASSAT VARIANT    187
PASSAT            187
GOLF              179
AVENSIS           173
Name: Üldine staatus, dtype: int64

Maardu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,7096.000000,5277.000000,7096.000000,7096.000000,7096.000000,7096.0
mean,2007.859216,167.865075,2034.072999,106.142277,1570.619504,2.0
std,6.323088,43.673590,637.969547,40.193683,318.594103,0.0
min,1996.000000,0.000000,0.000000,30.000000,700.000000,2.0
25%,2003.000000,138.000000,1598.000000,81.000000,1350.000000,2.0
50%,2007.000000,162.000000,1968.000000,101.500000,1532.000000,2.0
75%,2013.000000,193.000000,2393.000000,120.000000,1723.000000,2.0
max,2020.000000,398.000000,6498.000000,515.000000,3227.000000,2.0

Mark
TOYOTA           917
VOLKSWAGEN       678
BMW              451
MERCEDES-BENZ    392
OPEL             372
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS    226
COROLLA    174
RAV4       162
CR-V       140
PASSAT     136
Name: Üldine staatus, dtype: int64

Sillamäe linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,4403.000000,3076.000000,4403.000000,4403.000000,4403.000000,4403.0
mean,2006.797638,170.470091,2032.635022,102.629889,1567.581649,2.0
std,6.173338,40.840878,587.975245,35.273777,304.934862,0.0
min,1996.000000,0.000000,0.000000,30.000000,795.000000,2.0
25%,2002.000000,142.000000,1598.000000,80.000000,1358.000000,2.0
50%,2006.000000,164.000000,1968.000000,99.000000,1545.000000,2.0
75%,2011.000000,193.000000,2261.000000,118.000000,1705.000000,2.0
max,2020.000000,465.000000,6417.000000,375.000000,3815.000000,2.0

Mark
VOLKSWAGEN    641
TOYOTA        486
HONDA         300
BMW           286
AUDI          257
Name: Üldine staatus, dtype: int64

Mudel
CR-V              128
AVENSIS           124
PASSAT VARIANT    100
PASSAT             90
RAV4               84
Name: Üldine staatus, dtype: int64

Keila linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,4618.000000,3538.000000,4618.000000,4618.00000,4618.000000,4618.0
mean,2008.449329,163.685981,1998.331745,107.03181,1556.445214,2.0
std,6.398178,42.169127,626.541995,37.96993,311.347143,0.0
min,1996.000000,0.000000,0.000000,30.00000,805.000000,2.0
25%,2004.000000,135.000000,1596.000000,81.00000,1345.000000,2.0
50%,2008.000000,158.000000,1968.000000,103.00000,1529.000000,2.0
75%,2014.000000,186.000000,2231.000000,125.00000,1700.000000,2.0
max,2020.000000,495.000000,6761.000000,375.00000,3100.000000,2.0

Mark
VOLKSWAGEN    537
TOYOTA        439
ŠKODA         320
AUDI          317
BMW           303
Name: Üldine staatus, dtype: int64

Mudel
OCTAVIA     140
AVENSIS     128
PASSAT      114
A6 AVANT     90
GOLF         85
Name: Üldine staatus, dtype: int64