<h1>Reading in neccesary dependencies and dataset. </h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data =  pd.read_csv("data/cleanedData.csv")

<h2>Finding statistical figures per county</h2>

In [97]:
county_dataset = pd.DataFrame(columns=["County","Total","w/o reg. %", "AT %",
                                       "Brand 1", "Brand 2", "Brand 3",
                                      "Model 1", "Model 2", "Model 3"])

i =0
for county in data["Maakond"].unique():
    countyData = data.loc[data['Maakond'] == county]
    
    cars = len(countyData)
    stopedCars = len(countyData[countyData["Üldine staatus"] == "PEATATUD"])
    atCars = len(countyData[(countyData["Käigukasti tüüp"] == "CVT") |
                             (countyData["Käigukasti tüüp"] == "AUTOMAAT")])
    stopedPercentage = (stopedCars/cars) * 100
    atPercentage = (atCars/cars) * 100
    
    topBrands = countyData.groupby("Mark").size().sort_values(ascending=False)
    topModels = countyData.groupby("Mudel").size().sort_values(ascending=False)
    
    brand1 = str(topBrands.index[0]) #+ ": " + str(topBrands[0])
    brand2 = str(topBrands.index[1]) #+ ": " +  str(topBrands[1])
    brand3 = str(topBrands.index[2]) #+ ": " +  str(topBrands[2])
    
    model1 = str(topModels.index[0]) #+ ": " + str(topModels[0])
    model2 = str(topModels.index[1]) #+ ": " +  str(topModels[1])
    model3 = str(topModels.index[2]) #+ ": " +  str(topModels[2])
    
    county_dataset.loc[i] = [county] + [cars] + [stopedPercentage] + [atPercentage] + [brand1] + [brand2] + [brand3] + [model1] + [model2] + [model3]
    i +=1

county_dataset = county_dataset.sort_values(by="Total", ascending= False)
display(county_dataset)
    #display(countyData.describe())
    #display(countyData.groupby("Mark").count()["Üldine staatus"].sort_values(ascending=False).head())
    #display(countyData.groupby("Mudel").count()["Üldine staatus"].sort_values(ascending=False).head())

,County,Total,w/o reg. %,AT %,Brand 1,Brand 2,Brand 3,Model 1,Model 2,Model 3
0,HARJU MAAKOND,280727,9.563740,54.112358,TOYOTA,VOLKSWAGEN,BMW,OCTAVIA,AVENSIS,COROLLA
3,TARTU MAAKOND,70275,6.954109,44.492351,VOLKSWAGEN,AUDI,FORD,PASSAT VARIANT,PASSAT,OCTAVIA
5,IDA-VIRU MAAKOND,50557,10.817493,39.106355,VOLKSWAGEN,TOYOTA,BMW,AVENSIS,CR-V,PASSAT
1,PÄRNU MAAKOND,40973,7.871037,43.360262,VOLKSWAGEN,FORD,AUDI,PASSAT VARIANT,PASSAT,AVENSIS
10,LÄÄNE-VIRU MAAKOND,29192,8.718142,38.267334,VOLKSWAGEN,TOYOTA,VOLVO,AVENSIS,PASSAT,PASSAT VARIANT
6,VILJANDI MAAKOND,24223,7.992404,39.466623,VOLKSWAGEN,AUDI,FORD,PASSAT VARIANT,PASSAT,OCTAVIA
13,VÕRU MAAKOND,19212,8.447845,33.525921,VOLKSWAGEN,AUDI,FORD,PASSAT VARIANT,PASSAT,A6 AVANT
12,RAPLA MAAKOND,18255,8.436045,42.974528,VOLKSWAGEN,TOYOTA,AUDI,PASSAT,PASSAT VARIANT,OCTAVIA
11,SAARE MAAKOND,18046,5.624515,40.114153,VOLKSWAGEN,TOYOTA,AUDI,AVENSIS,PASSAT VARIANT,OCTAVIA
8,JÄRVA MAAKOND,15461,8.718712,37.255029,VOLKSWAGEN,FORD,TOYOTA,PASSAT VARIANT,PASSAT,AVENSIS
2,MÄÄRAMATA,14867,26.414206,48.597565,VOLKSWAGEN,BMW,AUDI,PASSAT VARIANT,A6 AVANT,PASSAT
4,JÕGEVA MAAKOND,14454,7.859416,35.588764,VOLKSWAGEN,AUDI,FORD,PASSAT VARIANT,PASSAT,A6 AVANT
7,PÕLVA MAAKOND,14305,9.052779,32.750786,VOLKSWAGEN,AUDI,FORD,PASSAT VARIANT,PASSAT,A6 AVANT
15,VALGA MAAKOND,14186,9.403637,33.032567,VOLKSWAGEN,AUDI,FORD,PASSAT VARIANT,PASSAT,A4 AVANT
9,LÄÄNE MAAKOND,11154,7.261969,42.738031,VOLKSWAGEN,TOYOTA,VOLVO,OCTAVIA,COROLLA,PASSAT
14,HIIU MAAKOND,5635,5.909494,40.372671,VOLKSWAGEN,TOYOTA,BMW,AVENSIS,PASSAT VARIANT,OCTAVIA

In [25]:
for city in data["Linn"].unique():
    countyData = data.loc[data['Linn'] == city]
    print(city)
    display(countyData.describe())
    display(countyData.groupby("Mark").count()["Üldine staatus"].sort_values(ascending=False).head())
    display(countyData.groupby("Mudel").count()["Üldine staatus"].sort_values(ascending=False).head())

Tallinn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,186177.000000,147826.000000,186177.00000,186177.000000,186177.000000,186177.000000
mean,2009.451484,162.000967,2017.07336,111.253687,1572.773930,2.000027
std,6.565849,45.143625,704.33053,46.364079,336.093818,0.005182
min,1996.000000,0.000000,0.00000,10.000000,1.000000,2.000000
25%,2005.000000,131.000000,1591.00000,81.000000,1350.000000,2.000000
50%,2009.000000,156.000000,1968.00000,103.000000,1525.000000,2.000000
75%,2015.000000,186.000000,2287.00000,129.000000,1725.000000,2.000000
max,2020.000000,495.000000,12130.00000,588.000000,16360.000000,3.000000

Mark
TOYOTA           22496
VOLKSWAGEN       18195
BMW              12769
MERCEDES-BENZ    11578
ŠKODA            11377
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS    5151
OCTAVIA    5001
COROLLA    4570
RAV4       3762
PASSAT     3553
Name: Üldine staatus, dtype: int64

Pärnu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,22295.000000,16326.000000,22295.000000,22295.000000,22295.000000,22295.000000
mean,2007.785198,166.172241,2013.264633,106.665436,1561.525140,2.000045
std,6.379439,42.888580,660.684644,41.885748,331.421851,0.006697
min,1996.000000,0.000000,0.000000,17.000000,600.000000,2.000000
25%,2003.000000,137.000000,1595.000000,80.000000,1342.000000,2.000000
50%,2007.000000,159.000000,1968.000000,100.000000,1525.000000,2.000000
75%,2013.000000,190.000000,2295.000000,123.000000,1720.000000,2.000000
max,2020.000000,413.000000,9600.000000,470.000000,12700.000000,3.000000

Mark
VOLKSWAGEN    2715
FORD          1881
TOYOTA        1743
AUDI          1658
VOLVO         1583
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS           534
PASSAT            521
FOCUS             476
PASSAT VARIANT    466
OCTAVIA           463
Name: Üldine staatus, dtype: int64

nan

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN

Series([], Name: Üldine staatus, dtype: int64)

Series([], Name: Üldine staatus, dtype: int64)

Tartu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,39470.000000,29330.000000,39470.000000,39470.000000,39470.000000,39470.0
mean,2008.189866,163.784691,2000.957816,107.120162,1566.245604,2.0
std,6.510422,42.522220,644.252919,41.041169,326.716082,0.0
min,1996.000000,0.000000,0.000000,28.000000,640.000000,2.0
25%,2003.000000,135.000000,1595.000000,80.000000,1345.000000,2.0
50%,2008.000000,158.000000,1968.000000,103.000000,1531.000000,2.0
75%,2014.000000,187.000000,2231.000000,125.000000,1725.000000,2.0
max,2020.000000,500.000000,8277.000000,478.000000,7690.000000,2.0

Mark
VOLKSWAGEN    5745
TOYOTA        3094
FORD          3032
AUDI          2975
ŠKODA         2534
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    1159
PASSAT            1072
OCTAVIA           1002
FOCUS              912
AVENSIS            873
Name: Üldine staatus, dtype: int64

Kohtla-Järve linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,11683.000000,8152.000000,11683.000000,11683.000000,11683.000000,11683.0
mean,2006.618163,168.776129,2024.965505,101.644466,1571.407943,2.0
std,6.146625,39.459908,552.701855,33.776405,293.063397,0.0
min,1996.000000,0.000000,0.000000,28.000000,805.000000,2.0
25%,2002.000000,140.000000,1598.000000,80.000000,1368.500000,2.0
50%,2006.000000,163.000000,1968.000000,99.000000,1550.000000,2.0
75%,2011.000000,191.000000,2231.000000,118.000000,1717.000000,2.0
max,2020.000000,383.000000,7300.000000,467.000000,3180.000000,2.0

Mark
VOLKSWAGEN    1709
TOYOTA        1036
AUDI           902
FORD           828
BMW            734
Name: Üldine staatus, dtype: int64

Mudel
PASSAT            307
AVENSIS           274
PASSAT VARIANT    269
CR-V              252
GOLF              232
Name: Üldine staatus, dtype: int64

Haapsalu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,6429.000000,4680.000000,6429.000000,6429.000000,6429.000000,6429.0
mean,2007.966247,162.550000,1953.149946,102.420999,1527.464613,2.0
std,6.729941,41.549961,614.186848,37.069860,311.336011,0.0
min,1996.000000,0.000000,0.000000,19.000000,620.000000,2.0
25%,2003.000000,135.000000,1590.000000,77.000000,1320.000000,2.0
50%,2007.000000,157.000000,1896.000000,97.000000,1490.000000,2.0
75%,2014.000000,185.000000,2151.000000,120.000000,1681.000000,2.0
max,2020.000000,383.000000,6500.000000,350.000000,3230.000000,2.0

Mark
VOLKSWAGEN    680
TOYOTA        619
KIA           439
VOLVO         436
ŠKODA         424
Name: Üldine staatus, dtype: int64

Mudel
OCTAVIA    177
COROLLA    174
PASSAT     140
AVENSIS    139
CEED       135
Name: Üldine staatus, dtype: int64

Loksa linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,848.000000,568.000000,848.000000,848.000000,848.000000,848.0
mean,2006.410377,173.202465,2022.987028,103.177005,1547.146226,2.0
std,5.897110,43.034454,599.901837,35.692203,314.843151,0.0
min,1996.000000,0.000000,0.000000,35.000000,795.000000,2.0
25%,2002.000000,142.750000,1598.000000,77.000000,1330.000000,2.0
50%,2006.000000,167.500000,1984.000000,100.000000,1517.500000,2.0
75%,2010.000000,195.000000,2394.250000,120.000000,1695.750000,2.0
max,2020.000000,361.000000,5967.000000,350.000000,2770.000000,2.0

Mark
TOYOTA        92
VOLKSWAGEN    81
VOLVO         67
OPEL          54
NISSAN        51
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS    27
QASHQAI    18
COROLLA    17
RAV4       15
OCTAVIA    15
Name: Üldine staatus, dtype: int64

Narva linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,18766.000000,12187.000000,18766.000000,18766.000000,18766.000000,18766.0
mean,2005.816104,176.444162,2089.856443,104.313615,1581.429500,2.0
std,6.205515,42.878594,618.522709,35.365840,313.754185,0.0
min,1996.000000,0.000000,0.000000,29.000000,775.000000,2.0
25%,2001.000000,147.000000,1598.000000,80.000000,1362.000000,2.0
50%,2005.000000,170.000000,1991.000000,100.000000,1550.000000,2.0
75%,2009.000000,200.000000,2429.000000,120.000000,1733.000000,2.0
max,2020.000000,392.000000,6798.000000,467.000000,3268.000000,2.0

Mark
VOLKSWAGEN    2180
TOYOTA        1889
BMW           1493
HONDA         1182
AUDI          1128
Name: Üldine staatus, dtype: int64

Mudel
CR-V              505
AVENSIS           496
A6                344
PASSAT            339
PASSAT VARIANT    320
Name: Üldine staatus, dtype: int64

Rakvere linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,7095.000000,5153.000000,7095.000000,7095.000000,7095.000000,7095.0
mean,2007.705990,164.571706,1990.391402,104.193883,1549.031994,2.0
std,6.358395,40.990383,608.620279,39.503716,318.894221,0.0
min,1996.000000,0.000000,0.000000,33.000000,675.000000,2.0
25%,2003.000000,138.000000,1595.000000,78.000000,1329.000000,2.0
50%,2007.000000,159.000000,1968.000000,99.000000,1516.000000,2.0
75%,2013.000000,189.000000,2261.000000,120.000000,1700.000000,2.0
max,2020.000000,392.000000,6208.000000,430.000000,3170.000000,2.0

Mark
TOYOTA        906
VOLKSWAGEN    798
VOLVO         546
AUDI          527
BMW           369
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS     278
COROLLA     192
PASSAT      156
V70         144
A6 AVANT    139
Name: Üldine staatus, dtype: int64

Narva-Jõesuu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,2244.000000,1462.000000,2244.000000,2244.000000,2244.000000,2244.0
mean,2006.087790,175.307114,2108.638592,105.302585,1588.705437,2.0
std,6.429761,47.266998,684.386764,39.700560,336.100354,0.0
min,1996.000000,0.000000,0.000000,28.000000,775.000000,2.0
25%,2001.000000,140.250000,1598.000000,77.000000,1352.750000,2.0
50%,2005.000000,168.000000,1991.000000,100.000000,1547.000000,2.0
75%,2011.000000,204.000000,2461.000000,125.000000,1760.000000,2.0
max,2020.000000,383.000000,6162.000000,404.000000,2909.000000,2.0

Mark
VOLKSWAGEN    278
TOYOTA        240
BMW           188
HONDA         143
AUDI          130
Name: Üldine staatus, dtype: int64

Mudel
CR-V              60
AVENSIS           52
PASSAT            41
PASSAT VARIANT    39
COROLLA           34
Name: Üldine staatus, dtype: int64

Võru linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,5603.000000,3734.000000,5603.000000,5603.000000,5603.000000,5603.000000
mean,2006.490987,164.808516,2017.588435,103.106711,1552.078529,2.000357
std,6.429919,41.201406,617.653030,38.954292,372.908775,0.018891
min,1996.000000,0.000000,0.000000,31.000000,705.000000,2.000000
25%,2001.000000,138.000000,1598.000000,77.000000,1345.000000,2.000000
50%,2006.000000,159.000000,1968.000000,96.000000,1520.000000,2.000000
75%,2011.000000,187.000000,2204.000000,120.000000,1703.000000,2.000000
max,2020.000000,392.000000,11705.000000,515.000000,17400.000000,3.000000

Mark
VOLKSWAGEN    1022
AUDI           546
TOYOTA         422
BMW            375
FORD           373
Name: Üldine staatus, dtype: int64

Mudel
PASSAT VARIANT    248
PASSAT            195
AVENSIS           162
A4 AVANT          152
GOLF              140
Name: Üldine staatus, dtype: int64

Paide linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,5074.000000,3524.000000,5074.000000,5074.000000,5074.000000,5074.0
mean,2007.089279,165.022985,1994.137958,103.204651,1539.745369,2.0
std,6.263177,41.371407,594.424607,38.409360,345.680030,0.0
min,1996.000000,0.000000,0.000000,30.000000,805.000000,2.0
25%,2002.000000,138.000000,1597.000000,77.000000,1332.000000,2.0
50%,2007.000000,159.000000,1968.000000,97.000000,1506.000000,2.0
75%,2012.000000,189.000000,2231.000000,120.000000,1685.000000,2.0
max,2020.000000,420.000000,9600.000000,430.000000,14075.000000,2.0

Mark
VOLKSWAGEN    640
TOYOTA        562
FORD          469
VOLVO         409
AUDI          385
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS           156
PASSAT            139
FOCUS             132
PASSAT VARIANT    132
COROLLA           126
Name: Üldine staatus, dtype: int64

Viljandi linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,7953.000000,5685.000000,7953.000000,7953.000000,7953.000000,7953.0
mean,2007.562681,163.378716,1983.572866,103.977518,1543.728027,2.0
std,6.547680,42.739110,629.604475,39.617813,317.573232,0.0
min,1996.000000,0.000000,0.000000,27.000000,630.000000,2.0
25%,2003.000000,135.000000,1595.000000,77.000000,1329.000000,2.0
50%,2007.000000,158.000000,1956.000000,100.000000,1514.000000,2.0
75%,2013.000000,188.000000,2198.000000,120.000000,1695.000000,2.0
max,2020.000000,420.000000,6751.000000,445.000000,4998.000000,2.0

Mark
VOLKSWAGEN    1184
AUDI           626
TOYOTA         605
FORD           580
ŠKODA          530
Name: Üldine staatus, dtype: int64

Mudel
OCTAVIA           210
PASSAT VARIANT    187
PASSAT            187
GOLF              179
AVENSIS           173
Name: Üldine staatus, dtype: int64

Maardu linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,7096.000000,5277.000000,7096.000000,7096.000000,7096.000000,7096.0
mean,2007.859216,167.865075,2034.072999,106.142277,1570.619504,2.0
std,6.323088,43.673590,637.969547,40.193683,318.594103,0.0
min,1996.000000,0.000000,0.000000,30.000000,700.000000,2.0
25%,2003.000000,138.000000,1598.000000,81.000000,1350.000000,2.0
50%,2007.000000,162.000000,1968.000000,101.500000,1532.000000,2.0
75%,2013.000000,193.000000,2393.000000,120.000000,1723.000000,2.0
max,2020.000000,398.000000,6498.000000,515.000000,3227.000000,2.0

Mark
TOYOTA           917
VOLKSWAGEN       678
BMW              451
MERCEDES-BENZ    392
OPEL             372
Name: Üldine staatus, dtype: int64

Mudel
AVENSIS    226
COROLLA    174
RAV4       162
CR-V       140
PASSAT     136
Name: Üldine staatus, dtype: int64

Sillamäe linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,4403.000000,3076.000000,4403.000000,4403.000000,4403.000000,4403.0
mean,2006.797638,170.470091,2032.635022,102.629889,1567.581649,2.0
std,6.173338,40.840878,587.975245,35.273777,304.934862,0.0
min,1996.000000,0.000000,0.000000,30.000000,795.000000,2.0
25%,2002.000000,142.000000,1598.000000,80.000000,1358.000000,2.0
50%,2006.000000,164.000000,1968.000000,99.000000,1545.000000,2.0
75%,2011.000000,193.000000,2261.000000,118.000000,1705.000000,2.0
max,2020.000000,465.000000,6417.000000,375.000000,3815.000000,2.0

Mark
VOLKSWAGEN    641
TOYOTA        486
HONDA         300
BMW           286
AUDI          257
Name: Üldine staatus, dtype: int64

Mudel
CR-V              128
AVENSIS           124
PASSAT VARIANT    100
PASSAT             90
RAV4               84
Name: Üldine staatus, dtype: int64

Keila linn

,Esm reg aasta,CO2,Mootori maht,Mootori võimsus,Tühimass,Telgi kokku
count,4618.000000,3538.000000,4618.000000,4618.00000,4618.000000,4618.0
mean,2008.449329,163.685981,1998.331745,107.03181,1556.445214,2.0
std,6.398178,42.169127,626.541995,37.96993,311.347143,0.0
min,1996.000000,0.000000,0.000000,30.00000,805.000000,2.0
25%,2004.000000,135.000000,1596.000000,81.00000,1345.000000,2.0
50%,2008.000000,158.000000,1968.000000,103.00000,1529.000000,2.0
75%,2014.000000,186.000000,2231.000000,125.00000,1700.000000,2.0
max,2020.000000,495.000000,6761.000000,375.00000,3100.000000,2.0

Mark
VOLKSWAGEN    537
TOYOTA        439
ŠKODA         320
AUDI          317
BMW           303
Name: Üldine staatus, dtype: int64

Mudel
OCTAVIA     140
AVENSIS     128
PASSAT      114
A6 AVANT     90
GOLF         85
Name: Üldine staatus, dtype: int64